#theme-toggle {
  float: left;
  margin-right: .85rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0;
  z-index: 1000;
}
  
#theme-toggle svg {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}